.overlay__screen {
   display: none ;
}

.overlay__screen.active {
   display: block !important;
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: hsl(0, 0%, 0%, 0.3);
   z-index: 1;
}


/* DONE */

.done{
   text-decoration:line-through;
   opacity: 0.3;
}