@import url("modal.style.css");
@import url("helper.style.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
   --bg-color: hsl(330, 10%, 92%);
   --bg-light: hsl(0, 0%, 100%);
   --header: hsl(340, 50%, 80%);
   --bg-accent: hsl(78, 40%, 70%);

   --bg-border: hsl(345, 6%, 13%);
   --bg-shadow: hsl(0, 0%, 23%);
}

* {
   margin: 0;
   padding: 0;
   font-family: "Montserrat", sans-serif;
}

html,
body {
   height: 100%;
}

body {
   background-color: var(--bg-color);
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.main__container {
   box-sizing: border-box;
   width: 450px;
   height: 450px;
   border-radius: 8px;
   box-shadow: 0 0 3px var(--bg-shadow);
   background-color: var(--bg-light);

   display: flex;
   flex-direction: column;
}

/* 
 
 - Header 

*/

.main__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 40px;
   padding: 6px 12px;
   border-radius: 8px 8px 0 0;
   background-color: var(--header);
}

#main__header__txt {
   letter-spacing: 3px;
}

#main__header__button {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3px;
   padding: 3px 8px;

   border-radius: 6px;
   border: none;
   background-color: var(--bg-accent);
   box-shadow: 0 0 1px var(--bg-border);
   transition: padding 0.1s ease-in;

   cursor: pointer;
}

#main__header__button:hover {
   padding: 3px 1rem;
}

#main__header__button img {
   height: 1rem;
   /* width: 12px; */
}

#main__header__button span {
   letter-spacing: 3px;
}

/* 

 - TODO 

*/

.main__todo__container {
   padding: 8px 1rem;
   padding: 8px 1;
   height: calc(100% - 40px);
   overflow: auto;
}

.main__todo__container::-webkit-scrollbar {
   display: none;
}

.todo {
   margin: 12px 0;
}

.todo__info {
   padding: 6px 8px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 8px;
   box-shadow: 0 0 3px var(--bg-shadow);
   background-color: var(--bg-accent);
}

.todo__info__left {
   display: flex;
   gap: 8px;
}

.todo__info__left input[type="radio"] {
   cursor: pointer;
}

.todo__info__right {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.todo__info__right > div > img {
   cursor: pointer;
}

.todo__info__right:nth-child(2) {
   letter-spacing: 3px;
   font-size: 0.7rem;
}
