@import url("modal.style.css"); @import url("helper.style.css"); @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root { --bg-gradient: linear-gradient(120deg, hsl(220, 80%, 60%), hsl(330, 50%, 70%)); --bg-accent: hsl(260, 100%, 77%); --bg-light: hsl(0, 10%, 94%); --text: hsl(180, 10%, 15%); --text-accent: hsl(180, 10%, 30%); --border: hsl(180, 10%, 15%); --border-task: hsl(230, 60%, 60%); --shadow: hsl(180, 20%, 18%); --header: hsl(200, 90%, 60%); }

* { margin: 0; padding: 0; font-family: "Montserrat", sans-serif; }

html, body { height: 100%; }

body { background: var(--bg-gradient); display: flex; justify-content: center; align-items: center; position: relative; }

.main__container { box-sizing: border-box; width: 500px; height: 550px; border-radius: 8px; box-shadow: 0 3px 6px var(--shadow), 0 0 3px var(--shadow) inset; background-color: var(--bg-light); display: flex; flex-direction: column; }

.main__todo__container { padding: 8px 1rem; height: calc(100% - 40px); overflow: auto; }

.main__todo__container::-webkit-scrollbar { display: none; }

/* - Header */
.main__header { display: flex; justify-content: space-between; align-items: center; height: 40px; padding: 6px 12px; border-radius: 8px 8px 0 0; background-color: var(--header); }

#main__header__txt { letter-spacing: 3px; font-size: 18px; font-weight: 600; color: var(--text); }

#main__header__button { height: 25px; width: auto; cursor: pointer; transition: 0.1s; }

#main__header__button:hover { height: 30px; }

/* - TODO */
.todo { margin: 12px 0; }

.todo__info { padding: 6px 8px; display: flex; justify-content: space-between; align-items: center; border-radius: 3px 3px 20px 3px; box-shadow: 0 0 2px var(--shadow) inset; border-left: 8px solid var(--border-task); height: 50px; transition: 0.2s; }

.todo__info:hover { background-color: hsla(200, 90%, 60%, 0.3); transform: translateY(-2px); }

.todo__info__left { flex: 1 1 auto; width: 300px; word-break: break-all; display: flex; gap: 8px; padding-right: 1rem; }

#todo__task { color: var(--text); font-size: 15px; }

#todo__date { color: var(--text-accent); }

.todo__info__left input[type="checkbox"] { cursor: pointer; transform: scale(1.2); accent-color: var(--border-task); }

.todo__info__right { display: flex; flex-direction: column; align-items: center; }

.todo__info__right > div > img { cursor: pointer; }

.todo__info__right:nth-child(2) { letter-spacing: 3px; font-size: 0.7rem; }
